<div>
	<h1>Insert the text to analize</h1>
	<a class="btn btn-lg btn-success" ng-click="insertFromText()"><span class="glyphicon glyphicon-font"></span></a>
	<a class="btn btn-lg btn-success" ng-href="#/"><span class="glyphicon glyphicon-floppy-open"></span></a>
</div>

<style type="text/css">
	div.hiden{
		visibility: hidden;
	}
</style>

<div class="progressv hiden">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%" >
    <span class="sr-only">45% Complete</span>
  </div>
</div>